# Default owners for the repository
* @rodrigoalvamat

# Configuration for CI
/.github/ @datadiver-cloud/ci

# Configuration for deployment
.dockerignore @datadiver-cloud/ci
build.rs @datadiver-cloud/ci
/.cargo/ @datadiver-cloud/ci
Makefile @datadiver-cloud/ci
Makefile.* @datadiver-cloud/ci

# Configuration for Rust dependencies
Cargo.lock @datadiver-cloud/security
Cargo.toml @datadiver-cloud/security
crates/domain-operator/Cargo.toml @datadiver-cloud/security
crates/mesh-operator/Cargo.toml @datadiver-cloud/security
crates/product-operator/Cargo.toml @datadiver-cloud/security
cackle.toml @datadiver-cloud/security
supply-chain/* @datadiver-cloud/security

# Code and tests for Domain
/crates/domain-operator/CARGO.md @datadiver-cloud/domain
/crates/domain-operator/README.md @datadiver-cloud/domain
/crates/domain-operator/src/ @datadiver-cloud/domain
/crates/domain-operator/src/tests/ @datadiver-cloud/domain

# Code and tests for Mesh
/crates/mesh-operator/CARGO.md @datadiver-cloud/mesh
/crates/mesh-operator/README.md @datadiver-cloud/mesh
/crates/mesh-operator/src/ @datadiver-cloud/mesh
/crates/mesh-operator/src/tests/ @datadiver-cloud/mesh

# Code and tests for Product
/crates/product-operator/CARGO.md @datadiver-cloud/product
/crates/product-operator/README.md @datadiver-cloud/product
/crates/product-operator/src/ @datadiver-cloud/product
/crates/product-operator/src/tests/ @datadiver-cloud/product
